/* CSS Document */
/*********************************************mystyle starts *******************************************************************/
*{
margin:0px;
padding:0px;

}
.cd-secondary-nav a
{
	font-size: 24px;

}
.cd-background-wrapper
{
height:100% !important;
}
#cd-intro
{height:890px;}
.about
{
	padding:100px 0px 100px 0px;
	background:url(../images/library-869061_1920.jpg);
	background-size:cover;
	background-attachment: fixed;

}
/*.book_intro
{	height:100%;
	padding:50px 0px 50px 0px;
	background-color:white;
}*/
.services
{	height:100%;
	padding:100px 0px 100px 0px;
	background-color:#5D42D3;
}
.violet
{box-shadow:-5px -5px 0px #5d42d3;padding: 50px;}
.violet1
{box-shadow:5px 5px 0px #5d42d3;padding: 50px;}
.services .fa-2x
{
	color:white !important;
}
.roundbook {
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 16px;
    border-radius: 100px;
    margin-left: 90px;
    border: 1px solid white;
}
.book_read
{
height:100%;
	padding:50px 0px 50px 0px;
	background-color:white;

}
.loader
{	
	padding:50px 0px 50px 0px;
	height:300px;
	background:url(../images/library-438389_19201.jpg);
	background-size: cover;
background-attachment: fixed;
}
.popular_books
{	height:100%;
	padding: 50px 0px 100px 0px;
	background-color:white;
}
.popular_books p
{color:black !important;}
.pop 
{font-size: 23px !important;
color: white !important;
}
.uk-slider-items .btn-warning,.uk-slider-items h3,.uk-slider-items p 
{
color: white !important;

}
/*.popular_books .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
{
	margin:0px !important;
	padding:0px !important;
}*/
.details
{
	
	padding:20px;
	height: 314px;
	background: #00000010;
}
.violetservice
{
height: 150px;
padding: 50px 0px 50px 0px;
background-color: #6f58ce;}
.popular_books .bookpic img{
width:100px ;}

.popular_books .details img{
width:180px ;}
#contact_nav .black
{display:none;}
#about-nav .black
{display:none;}
#shop-nav .black
{display:none;}
#store-nav .black
{display:none;}

footer
{

height:100%;
	padding:100px 0px 100px 0px;
	background-color:#eaeaea;
}
.threeh
{
	height:300px;
}
.circle1
{
	width:450px;
	height:450px;
	background:url(../images/circle.png);
	background-repeat:no-repeat;
	color: #6E37AB99;	
	padding: 81px 50px 0px 0px;
	text-align:center;
	margin:0px 0px 0px 350px;
}
footer .follow a
{
background-color: #000000;
border-radius: 50px;
padding: 11px !important;
height: 39px !important;
width: 39px !important;
float: left;
margin-left: 1px;
}
.red
{
	background-color:#de3241;

}
.yellow
{
	background-color:#f5bf56;
	
}
.green
{
	background-color:#53877a;
	
}
.footer2
{
height:100%;
	padding:10px 0px 10px 0px;
background-color:#000000 !important;
}
.whitebg
{
height:75px !important;
}
.navbarbook
{
z-index:10!important;
}
.popular_books,.blog {padding:0px 0px 14px 0px; background:url(../images/bg5.png);
background-position: 0px 0px;
background-repeat: repeat-x;
 -webkit-animation: slide 60s linear infinite;
animation: slide 60s linear infinite;
background-size:cover;


}
.popular_books
{padding-bottom:110px;}
footer p, .about p
{color:black !important;}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.blog .btn-success
{
color: white;
background-color: #53877a !important;
border: none !important;

}
.blog .btn-success:hover
{

background-color: #3a5750 !important;

}
.blog .btn-success
{
color: white;
border: none !important;

}
.blog .btn-success
{
color: white;
border: none !important;

}
.navbar-nav li
{
padding:0px 10px 0px 10px;

}
.contact_header
{
background:url(../images/BG1.png);
background-repeat:repeat-x;
background-size:cover;
height:300px;
}
.contact_form
{
background:url(../images/BG1.png);
background-repeat:repeat-x;
background-size:cover;
height:100%;
padding:100px 0px 0px 0px; 
}
.contact_form 
{

background:#5D42D3
}
.contact_header h1
{
margin-left:45%;
margin-top:150px;
}
.navbar a
{color:black;}
.shop
{height:100%;
	padding:100px 0px 0px 0px;}
.shop .btn
{
font-size:20px;
background-color:#999999;
}
.about-header {
  position: relative;
  height: 250px;
  background:url(../images/b1.jpg);
background-repeat:repeat-x;
background-size:cover;
z-index:-2;
}
.about-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #6551be;
    z-index: -1;
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.about-header h1 {
  color: white;
  line-height: 150px;
  text-align: center;
padding:114px

}
.wide-banner-type-2-content {
    display: block;
    position: relative;
    width: 580px;
    height: 580px;
    border-radius: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
	color: #6f58cead !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius:30rem !important;
}
.wide-banner-type-2-section {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dashed #574138;
    padding: 30px;
}
.wide-banner-type-2-rounded {
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
iframe
{height:750;}
.about-page
{height: 100%;padding: 50px 0px 50px 0px;
}
.about-page p
{color:black;}

blockquote::before {
    content: open-quote;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    color: #39046b;
}
.lilli
{
padding-top: 21px;
}
/*blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/
.about-page .row 
{
padding:50px 0px 50px 0px;
}
.navbar a
{color:white;}
#cd-intro .navbar a 
{color:black;}
.navbar .active a 
{color:#ff855d;}
#cd-intro .navbar .active a 
{color:#ff855d;}
/*********************** Demo - 1 *******************/
.box1 img,.box1:after,.box1:before{width:100%;transition:all .3s ease 0s}
.box1 .icon,.box2,.box3,.box4,.box5 .icon li a{text-align:center}
.box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{content:""}
.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{overflow:hidden}
.box1 .title,.box10 .title,.box4 .title,.box7 .title{letter-spacing:1px}
.box3 .post,.box4 .post,.box5 .post,.box7 .post{font-style:italic}
body{background-color:#f1f1f2}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mb-30{margin-bottom:30px}
.box1 .icon,.box1 .title{margin:0;position:absolute}
.box1{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box1:after,.box1:before{height:50%;background:#aca3cfb0;position:absolute;top:0;left:0;z-index:1;transform-origin:100% 0;transform:rotateZ(90deg)}
.box1:after{top:auto;bottom:0;transform-origin:0 100%}
.box1:hover:after,.box1:hover:before{transform:rotateZ(0)}
.box1 img{height:auto;transform:scale(1) rotate(0)}
.box1:hover img{filter:sepia(80%);transform:scale(1.3) rotate(10deg)}
.box1 .title{font-size:19px;font-weight:600;color:#fff;text-transform:uppercase;text-shadow:0 0 1px #004cbf;bottom:10px;left:10px;opacity:0;z-index:2;transform:scale(0);transition:all .5s ease .2s}
.box1:hover .title{opacity:1;transform:scale(1)}
.box1 .icon{padding:7px 5px;list-style:none;background:#5d42d3;border-radius:0 0 0 10px;top:-100%;right:0;z-index:2;transition:all .3s ease .2s}
.box1:hover .icon{top:0}
.box1 .icon li{display:block;margin:10px 0}
.box1 .icon li a{display:block;width:35px;height:35px;line-height:35px;border-radius:10px;font-size:18px;color:#fff;transition:all .3s ease 0s}
.box2 .icon li a,.box3 .icon a:hover,.box4 .icon li a:hover,.box5 .icon li a,.box6 .icon li a{border-radius:50%}
.box1 .icon li a:hover{color:#fff;box-shadow:0 0 10px #000 inset,0 0 0 3px #fff}
@media only screen and (max-width:990px){.box1{margin-bottom:30px}
}
/*********************** Demo - 2 *******************/

/*********************************************mystyle ends *******************************************************************/

/*other views start*/
@media (min-width: 768px)
{
.quote
{
	width: 902px !important;
height: 733px;
margin: 165px 0px 0px 600px;
    
}
.free-book-iframe
{
	height:750px !important;
}
}
/*other views end*/
/*mobile views start*/
@media (max-width: 768px)
{
.contact label {
    
    padding: 6px 0px 6px 0px !important;
}
.contact .row {

    margin-right: 0 !important;;
    margin-left: 0 !important;;
}
.contact .single-contact h5 {
    
    padding: 0px 0px 0px 24px !important;
}
.contact .single-contact p {
    
    padding: 0px 0px 0px 24px !important;
}
.contact .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.contact .hi-icon {
    font-size: 17px !important;
    margin: 0 !important; 
}
.contact .blue-card {
    background-color: #5d42d3 !important;
    height: 100% !important;
    padding: 20px 54px !important;
    bottom: 0px !important;
    z-index: 1 !important;
    width: 100% !important;
}
.contact .white-card {
    background-color: white !important;
height: 700px !important;
padding: 25px !important;
z-index: 0 !important;
color: #000000 !important;
top: 100px !important;
box-shadow: 0px 0px 8px rgba(208, 202, 202, 0.63) !important;
}
.welcome {
    width: 90% !important;
}
.contact
{height: 1265px !important;}
 .black,.white
{
width: 100px !important;
}
blockquote::before {

    content: open-quote;
    font-size: 40px;
    line-height: 100px;
    position: absolute;
    top: -34px;
    left: 0px;
    width: 35px;
    color: #39046b;

}
.lilli
{
padding-top: 0px !important;
}
.box-content h6 {
    font-size: 5px !important;
}
.box-content h4 {
    font-size: 7px !important;
}
.box-content {
    padding: 5px 0px 0px 15px !important;
    bottom: 0px;
    z-index: 1;
    background: #aca3cfb0;
    border-radius: 10px;
}
.box-content {
    width: 93% !important;
    position: absolute;
    left: 13px !important;
    top: 70px !important;
}
.about-page {
    height: 100%;
    padding: 5px 5px 50px 5px;
}
#contact .container-fluid {
    width: 100%;
    padding-right: 52px;
    padding-left: 43px;
    margin-right: auto;
    margin-left: auto;
}
#contact .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8f0cfb;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(116, 90, 180);
}
.services {
    padding: 46px 0px 0px 0px;
    background-color: #5D42D3;
    height: 760px;
}
.threeh {
    height: 220px;
}
.services h2
{font-size:24px;}
.services h4
{font-size:16px;}
.roundbook {
    text-align: center;
    width: 55px;
    height: 55px;
    padding: 15px !important;
    border-radius: 100px;
    margin-left: 60px;
    border: 1px solid white;
}
.ser-box
{border:.5px solid #663399;padding:5px!important;height:40%;}
.ser-box2
{border-top:.5px solid #663399;padding:5px!important;height:40%;}
.ser-box3
{border-bottom:.5px solid #663399;padding:5px!important;height:40%;}

.services p
{font-size:10px;padding: 0px 22px;}
.popular_books .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    margin: 0px !important;
    padding: 10px !important;
}

.bookpic
{padding: 9px !important;}

.pop {
    font-size: 14px !important;
   }
.free-book-iframe
{
	height:500px !important;
}
.quote {
    margin: 38px 0px 0px 150px;
    width: 270px !important;
    height: 230px !important;
}
.cd-secondary-nav a
{
	font-size: 20px !important;

}
.cd-secondary-nav li:hover
{
	color:black !important;
	background:white;
	border-radius:4px;
	border-bottom:1px solid #666600;
}
.cd-secondary-nav li a:hover
{
	color:black !important;
	
	border-radius:4px;
	border-bottom:1px solid #666600;
}
/*.circle1
{
	width:300px;
	height:300px;
	background-color:#FFFFFF;
	color:#666600;
	border-radius:1000px;
	padding:40px 80px 40px 60px;
	text-align:center;
	margin:0px 0px 0px 0px !important;
}*/
.circle1
{
	width:450px;
	height:450px;
	background:url(../images/circle.png);
	background-repeat:no-repeat;
	color: #6E37AB99;	
	padding:40px -80px 40px 60px;
	text-align:center;
	margin:0px 0px 0px 350px;
}
.circle1 h2
{font-size:28px !important;
}
.circle1 p
{font-size:13px !important;
width:185px !important;
}
.about
{
	height:500px;
	background:url(../images/library-869061_1920.jpg);
	background-size:cover;
	background-attachment: fixed;
	padding:110px 110px 110px 10px !important;
}
.cd-intro
{height:350px !important;}
.follow .ml5
{
	margin-left: 5rem !important;
}
.best_sellers
{
margin-left: 1.5rem !important;
}
footer {

    height: 1115px;
    padding: 0px 0px 0px 0px;
    background-color: #eaeaea;
	font-size:14px;
}
footer h1 
{
font-size: 1rem;
}
footer h4 
{
font-size: 1rem;
}
footer h6
{
font-size: 0.7rem;
}
.cd-filter-trigger {
    top: 0px !important;
	}
.loader
{	
	padding:20px 0px 20px 0px !important;
	height:390px;
	background:url(../images/library-438389_19202.jpg);
}
#cd-intro {
    height: 200px;
}
.popular_books
{
	padding:5px 0px 30px 0px;
	font-size:8px;
}
.popular_books img{
width:50px !important}

.popular_books .details img{
width:100px !important}
.popular_books .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
{
	margin:0px !important;
	padding:0px !important;
}
.timeline li hr
{
width:200px !important;
}
.details{
padding: 10px !important;
font-size:14px;
height:200px !important;
}
.cd-background-wrapper
{
height:243px !important;
}
.laptop
{
height:400px !important;
padding-bottom:100px !important;
position:absolute;
padding:0px !important;
margin-left:0% !important;
margin-top:-88px !important;
z-index: 0 !important;

}
.cd-secondary-nav ul
{
background-color:#000000 !important;
}
.cd-secondary-nav li
{
color:#FFFFFF !important;
}
.footer2 h6
{
	float:none !important;
	text-align:center;
}
.wide-banner-type-2-content h1
{font-size:20px;}
.wide-banner-type-2-content p
{font-size: 10px;}

.wide-banner-type-2-content {

    width: 300px;
    height: 300px;

}
.about h2 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1;
	font-size: 20px !important;
}
.popular_books p{
font-size: 8px;
}
.violetservice
{
font-size: 17px;

}
.violetservice h3
{

font-size: 1rem !important;
}
.violetservice .fa-2x {
    margin: 0px 27px;

}

.book_read {
   
    padding: 0px 0px 0px 0px!important;
   
}
.navbar{
padding: 0px 10px !important;
}
.single-contact {
padding-top: 60px !important;


}
.pb-100 {
    padding-bottom: 18px !important;
}
}
/*mobile views ends*/


/*********************************************mystyle ends ***********************************************************************/
/*********************************************banner slider  start **************************************************************/
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*********************************************banner slider ends ************************************************************/
/*********************************************banner start **********************************************************************/
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}


body {
  font-family: "Open Sans", sans-serif;
 
}

a {
  color: #196a74;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-background-wrapper {
  background-color:#FFFFFF;
  position: relative;
  overflow: hidden;
  -webkit-perspective: 4000px;
  perspective: 4000px;
    z-index: 0 !important;
}

.cd-floating-background {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-floating-background.is-absolute {
  position: absolute;
}
.cd-floating-background img {
  display: block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.01);
}
.cd-floating-background img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-floating-background img:first-child {
  -webkit-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px);
}
.cd-floating-background img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  transform: translateZ(290px);
}
.cd-floating-background img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  transform: translateZ(400px);
}
.no-preserve-3d .cd-floating-background {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}

/*********************************************banner end ************************************************************************/

/*********************************************navigation bar start ***************************************************************/

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
/* -------------------------------- 

Navigation

-------------------------------- */
.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #030d18;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 23px 0 0 5%;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 5%;
    opacity: 1;
  }
}

.cd-primary-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #030d18;
  }
}

/* -------------------------------- 

Intro

-------------------------------- */
#cd-intro {
  position: relative;
 
  background: url(../img/ro-background.jpg) no-repeat center center;
  background-size: cover;

}
#cd-intro #cd-intro-tagline {
  
  margin: 0 auto;
  text-align: center;
 
}
#cd-intro h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #030d18;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
 
  #cd-intro h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1170px) {
 
}

.cd-btn {
  display: inline-block;
  padding: 1em 1.8em;
  background-color: rgba(245, 72, 74, 0.9);
  margin-top: 1em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
.no-touch .cd-btn:hover {
  background-color: #f5484a;
}
@media only screen and (min-width: 1170px) {
  .cd-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .8em 1.2em;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  .cd-btn.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 5%;
    opacity: 1;
  }
}

/* -------------------------------- 

Secondary Fixed Navigation

-------------------------------- */
.cd-secondary-nav {
  position: absolute;
  text-align:center;
  width: 100%;
  z-index: 55;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-secondary-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: none;
  visibility: hidden;
  z-index: 1;
  padding-left: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
.cd-secondary-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
.cd-secondary-nav li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #092645;
  color: white;
}
.cd-secondary-nav li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav {
    z-index: 1;
    height: 100px;
    background-color:none;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  .cd-secondary-nav nav, .cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
    height: 100%;
  }
  .cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  .cd-secondary-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .cd-secondary-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 58px 40px 0 40px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  .cd-secondary-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.3);
  }
  .cd-secondary-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../img/cd-nav-icons.svg);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-secondary-nav li a:hover b, .cd-secondary-nav li a.active b {
    color: #f0eee1;
  }
  .cd-secondary-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  .cd-secondary-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  .cd-secondary-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  .cd-secondary-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  .cd-secondary-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  .cd-secondary-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  .cd-secondary-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
  }
  .cd-secondary-nav.animate-children li a {
    padding: 26px 30px 0 30px;
  }
  .cd-secondary-nav.animate-children li a span {
    opacity: 0;
  }
}

.cd-secondary-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: rgb(235, 122, 85);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-secondary-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-secondary-nav-trigger span::before, .cd-secondary-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cd-secondary-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger.menu-is-open {
  background: transparent;
}
.cd-secondary-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
.cd-secondary-nav-trigger.menu-is-open span::before, .cd-secondary-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
.cd-secondary-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-secondary-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav-trigger {
    display: none;
  }
}

/* -------------------------------- 

Placeholder Sections

-------------------------------- */
.cd-section {
  margin: 0 auto;
  padding: 2em 0;
}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .6em;
  font-weight: 700;
}
.cd-section p {
  line-height: 1.6;
}
@media only screen and (min-width: 1170px) {
  .cd-section {
    margin: 0 auto;
    padding: 4em 0;
  }
  .cd-section h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
/*********************************************navigation bar end *****************************************************************/
/*********************************************number counter start ***************************************************************/

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; position: relative;}
.counter { padding: 20px 0px 0px 20px; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal; margin-top: 36px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }
/*********************************************number counter end *****************************************************************/

.timeline{list-style:none;padding:0 0 20px;position:relative;margin-top:-15px}
.timeline:before{top:30px;bottom:25px;position:absolute;content:" ";width:3px;background-color:#ccc;left:25px;margin-right:-1.5px}
.timeline>li,.timeline>li>.timeline-panel{margin-bottom:25px;position:relative}
.timeline>li:after,.timeline>li:before{content:" ";display:table}
.timeline>li:after{clear:both}
.timeline>li>.timeline-panel
{margin-left:50px;float:left;top:19px;padding:4px 10px 8px 15px;border:1px solid #ccc;border-radius:5px;width:62%;}
.timeline>li>.timeline-badge
{
color:black;
width:40px;
height:40px;
line-height:36px;
font-size:1.2em;
text-align:center;
position:absolute;
top:26px;
left:9px;
margin-right:-25px;
background-color:#fff;
border-radius:20%;
border:1px solid black;
}
.timeline>li.timeline-inverted>.timeline-panel{float:left}
.timeline>li.timeline-inverted>.timeline-panel:before{border-right-width:0;border-left-width:15px;right:-15px;left:auto}
.timeline>li.timeline-inverted>.timeline-panel:after{border-right-width:0;border-left-width:14px;right:-14px;left:auto
}.timeline-badge.primary{background-color:white!important}
.timeline-badge.success{background-color:white!important}
.timeline-badge.warning{background-color:white!important}
.timeline-badge.danger{background-color:white!important}
.timeline-badge.info{background-color:white!important}
.timeline-title{margin-top:0;color:inherit}
.timeline-body>p,.timeline-body>ul{margin-bottom:0;margin-top:0}
.timeline-body>p+p{margin-top:5px}
.timeline-badge>.glyphicon{margin-right:0px;color:#fff}
.timeline-body>h4{margin-bottom:0!important}
.timeline li hr
{
width:400px;
margin-left:-37px;
border-top-width:1px;
top:10px;
}













/* Center the book */
.panel__image.panel__image--book {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
}

/* .product-panel--book .panel__image--book {
	position: absolute;
	max-width: 500px;
	top: calc(-5em - 5vw);
	right: 0;
}

.product-panel .panel__image {
	width: calc(30% + 2vw);
	-ms-flex-order: 1;
	order: 1;
} */

.article__content a:not(.btn):not(.toolbar-item) {
	color: #006fc6;
}

.product-panel--book .panel__image--book img {
	width: 100% !important;
}

.books__book__img {
	width: 100%;
	max-width: 20px;
	will-change: transform;
	transform-origin: 0 100%;
	transform: rotate(-10deg);
	transition: transform 0.3s ease-out;
}

.books__book__img:hover {
    transform: rotate(0);
}

.author__image-wrapper::before,
.books__book__image::before {
    display: block;
    content: "";
    height: 20%;
    width: 45%;
    position: absolute;
    background-image: url(https://i.imgur.com/5udcDlp.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    top: 84%;
    left: 35%;
    right: 0;
    transition: all 0.2s ease-out;
    transform-origin: 30% 50%;
    pointer-events: none;
}

.books__book__image:hover {
    position: relative;
}




.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color: #21252900;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
    background-color:none;
}







carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity ;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
/*contact*/
.pb-100 {
	padding-bottom: 150px;
}
.pt-100 {
	padding-top: 150px;
}
.mb-100 {
	margin-bottom: 150px;
}
.mb-50 {
	margin-bottom: 150px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.contact {
	/*background-image:url(../images/bg3.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;*/
	position: relative;
	z-index: 2;
	color: #fff;
	height: 1100px;
}
.contact-form input,
textarea {
	width: 100%;
	border: 1px solid #555;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-top: 15px;
	background-color: transparent ;
	color: #fff;
}
.contact .blue-card {
    background-color: #5d42d3;
    height: 590px;
    padding: 80px 0px;
    bottom: 490px;
    z-index: 1;
    width: 100%;
}
.contact .white-card {
    background-color: white;
    height: 800px;
    padding: 80px;
    z-index: 2;
    color: #000000;
    top: 200px;
    box-shadow: 0px 0px 7px rgba(208, 202, 202, 0.63);
}
 .welcome
{
margin:0px auto;
padding-top:50px;
width:65%;

}
.welcome p
{color: #0e0538b5;}
.contact .form-control {
  
    border: 1px solid #e9801669;
}
/*.contact:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #6551be;
	z-index: -1;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}*/
.single-contact {
	text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.single-contact i.fa {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: #FF7200;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
}
.single-contact h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}
.single-contact p {
	font-size: 15px;
	font-weight: 400;
}
.contact-form input[type="submit"] {
	background-color: #ff855d;;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: .4s;
	transition: .4s
}
.contact-form input[type="submit"]:hover {
	background-color: #ff855d;
}
.contact-form input:focus, textarea:focus {
	border-color: #ff855d;
}


.form-control
{background-color:transparent !important;border: 1px solid #FF9933;
}
.contact .btn
{
background-color: #ff855d;
border-color: #ff855d;
}
.single-contact v {
    background-color: #FF855d;
    height: 20px;
    width: 20px;
    padding: 10px 16px;
	margin-top:16px;
}

.contact-icon
{
margin-top:16px !important;
}

















.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}







































<!--bookhouse shop-->

		  .book-shop .badge-notify 
	   	   {
			background: #fff0;
			position: relative;
			top: -14px;
			right: 8px;
			color: #5d42d3;
			font-size: 15px;
		   }
		  .book-shop .my-cart-icon-affix 
		  {
			position: fixed;
			z-index: 999;
		  }		 	
		.book-shop .glyphicon1 
		{
			position: fixed;
			top: 108px;
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			right: 0px;
			background: #ff855d;
			z-index: 9999999999999999999999;
			padding: 6px;
			right: -11px;
			font-size: 20px;
		}
		.book-shop li .btn-danger 
		{
			color: #fff;
			background-color: #5d42d3;
			border-color: #fff0;
			width: 50%;
			font-size: 10px;
			padding: 6px;
		}
		.book-shop li .btn-danger:hover 
		{
			color: #fff;
			background-color: #5d52d3;
			border-color: #200c7a;
			width: 50%;
		}
		.book-shop h4
		{font-size:1rem;}
		. book-shop.page-header 
		{
			padding-bottom: 0px;
			margin: 0px;
			border-bottom: 1px solid #eee;
		}